@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*  styles go here */
html {
    font-size: 17px;
    line-height: 1.4;
    font-family: 'PT Sans Narrow', 'Helvetica', sans-serif;
}
body{
    background-color: #E6E4CE;
    color: #273447;
}
ul.biline{
    width: 800px;
    margin: 0 auto;
    padding: 0 0 0 0;
    height: 74px;
    list-style-type: none;
    text-align: center;
}
ul.subp{
    height: 44px;
}
ul.biline li{
    display: inline-block;
    margin: 0 10px;
    color: #DE961B;
    font-size: 18px;
    padding: 10px;
} 
ul.biline li a {
    color: #DE961B;
    text-decoration: none;
}
ul.biline .home, ul.biline a:hover {
    color: #97435B;
}
.content, .subcontent{
    width: 800px;
    min-height: 900px;
    margin: 0 auto;
}
.content{
    border-radius: 40px;
    box-shadow: 0 0 0 10px #FFD268, 0 0 0 20px #DE961B, 0 0 0 30px #97435B;
    background-image: url('../img/patrick-bg.jpg');
    background-size: cover;
}
.subcontent{

}
.stripe{
    background-image: linear-gradient(0deg, #ffd268 16.67%, #de961b 16.67%, #de961b 33.33%, #97435b 33.33%, #97435b 50%, #ffd268 50%, #ffd268 66.67%, #de961b 66.67%, #de961b 83.33%, #97435b 83.33%, #97435b 100%);
    background-size: 60.00px 60.00px;
    width: 100%;
    height: 30px;
}
ul.contact{
    width: 400px;
    height: 42px;
    background: #97435B;
    border-radius: 16px 0 0 16px;
    list-style-type: none;
    text-align: left;
    float: right;
    margin: 32px -30px 0 0;
    margin-right: -30px;
    box-shadow: -10px 10px #DE961B, -20px 20px #FFD268;
    padding-left: 16px;
}
ul.contact li{
    display: inline-block;
    padding: 6px 8px;
}
ul.contact li a{
    color: #E6E4CE;
    font-size: 24px;
}

/* fonts */
h1, h2, h3, h4, h5{
    font-weight: 400;
}
h1{
    margin: 12px;
    font-family: Agbalumo;
}
h1 img{
    margin-top: 20px;
    width: 270px;
    padding-left: 420px;
}
h2{
    font-size: 18px;
    margin: 0px;
}
h3{
    font-size: 19px;
    margin: 0px;
    color: #97435B;
}
.h1{
    font-size: 18px;
    padding-left: 326px;
    padding-top: 40px;
}
.h3{
    font-size: 18px;
    padding-left: 500px;
    padding-top: 26px;
}
.description{
    padding-top: 40px;
    clear: both;
}
.p1 h3, .p2 h3{
    font-size: 18px;
}
.p1 p, .p2, p{
        margin-top: 0px;
}
.p1{
    width: 360px;
    padding-left: 412px;
    text-align: center;
}
.p2{
    width: 410px;
    padding-top: 4px;
    padding-left: 350px;
    text-align: center;
}
.divider{
    box-shadow: 0px 2px #97435B, 0px 6px #E6E4CE, 0px 8px #DE961B, 0px 12px #E6E4CE, 0px 14px #FFD268;
    height: 12px;
    margin: 0 0 52px 0;
}
.leadership .divider{
    margin-left: 154px;
}



/* IMAGE BUBBLES */
.vertical{
    float: left;
    margin-left: -72px;
}
.imgBubble{
    background: #E6E4CE;
    height: 94px;
    width: 94px;
    border-radius: 100%;
    display: block;
}
.s124{
    height: 124px;
    width: 124px;
}
.s164{
    height: 164px;
    width: 164px;
}
.s200{
    height: 200px;
    width: 200px;
}
.bcRed{
    border: 10px solid #97435B;
}
.bcOrange{
    border: 10px solid #DE961B;
}
.bcYellow{
    border: 10px solid #FFD268;
}



/* HOME PAGE */

.home h1{
    margin-left: 420px;
    font-size: 94px;
    line-height: 54px;
    text-shadow: -6px 6px #DE961B, -12px 12px #FFD268;
    color:#97435B;
}
.home h1 .hTwo{
    margin-left: 110px;
}



/* SUB PAGES */

.subcontent h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    padding: 24px;
    color:#97435B;
}
.caseStudy h2{
    font-size: 28px;
    margin: 0 0 24px 0;
    text-transform: uppercase;
    font-weight: 700;
}
.caseStudy h4{
    color: #DE961B;
    margin: 0;
    font-weight: 700;
}
.caseStudy h3{
    font-weight: 700;
}
.caseStudy .clear {
    clear: both;
  }
  .clear div {
    width: 50%;
    display: inline-block;
  }
  .col1 {
    float: left;
  }
  .col1 p{
    padding: 0 8px 0 0;
  }
  .col2 p{
    padding: 0 0 0 8px;
  }



.leadership .caseStudy{
    margin-left: 145px;
}



/* LEADERSHIP */
.leadership .s164{
    background-image: url('../img/blackthorn.png');
    background-size: cover;
}
.leadership .s124{
    margin-top: -34px;
    margin-left: 50px;
    background-image: url('../img/bubble-canopy.png');
    background-size: cover;
}
.leadership .s200{
    margin-left: -34px;
    margin-top: -36px;
    background-image: url('../img/iheartmedia.jpeg');
    background-size: cover;
}
.leadership .pLeft{
    width: 280px;
    float: left;
    padding: 24px;
    text-align: left;
}
.leadership .pRight{
    width: 290px;
    float: left;
    padding: 30px;
    background: #DE961B;
    color: #E6E4CE;
    border-radius: 36px;
    text-align: justify;
    box-shadow: 16px -8px #97435B;
}
.leadership .caseStudy{
    margin-left: 145px;
}





















/* Helper classes */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    display: inline-block;
}
.bold{
    font-weight: 700;
}
.italic{
    font-style: italic;
}
.aRight{
    text-align: right;
    display: block;
}
.aLeft{
    text-align: left;
    display: block;
}
.aJustify{
    text-align: justify;
    display: block;
}





